/* Color template: https://colorhunt.co/palette/1c3879607eaaeae3d2f9f5eb */

body {
  margin: 60px 0 0 0;
  font-family: 'Merriweather', serif;
  text-align: center;
  z-index: 1;
}

h1 {
  font-size: 8vw;
  margin: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #1C3879;
}

h3 {
  font-size: 22px;
  margin: 0;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a {
  color: #607EAA;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #1C3879;
}

#my-name {
  position: absolute;
  left: 5%;
  top: 20%;
}

#my-position {
  position: absolute;
  font-size: 1.6vw;
  left: 5%;
  top: 40%;
}

#my-photo {
  border-radius: 30px;
  width: 37%;
  float: right;
  margin: 4rem 5rem auto 0;
  right: 8%;
  top: 8%;
}

.nav-bar {
  background-color: #F9F5EB;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  z-index: 2;
}

.top-container {
  background-color: #EAE3D2;
  position: relative;
  height: 43.75rem;
  color: #1C3879;
}

.my-info {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.middle-container {
  background-color: #EAE3D2;
}

.middle-container h4 {
  padding-bottom: 20px;
}

.introduction {
  background-color: #F9F5EB;
  line-height: 2;
}

.intro-text {
  padding: 0 40px 40px 40px;
  text-align: justify;
}

.skills {
  background-color: #607EAA;
}

.skill-row {
  width: 70%;
  margin: 80px auto 0 auto;
  text-align: left;
  line-height: 2;
}

.skills h3 {
  color: #EAE3D2;
}

.skill-text {
  color: white;
  padding-bottom: 80px;
}

.programming-img {
  float: left;
  width: 10vw;
  margin-right: 30px;
}

.godot-img {
  float: right;
  width: 10vw;
  margin-left: 30px;
}

.photography-img {
  float: left;
  width: 10vw;
  margin-right: 30px;
  margin-bottom: 10px;
}

.photo-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 16px;
  background: #EAE3D2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.photo-button:hover {
  background: #F9F5EB;
  text-decoration: none;
}

.projects {
  background-color: #354b72;
  position: relative;
  line-height: 2;
}

.project-text {
  color: white;
  margin: auto auto;
  text-align: center;
}

.project-img {
  padding: 20px;
  width: 10vw;
}

.projects h3 {
  color: #EAE3D2;
}

.code-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 16px;
  background: #EAE3D2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.code-button:hover {
  background: #F9F5EB;
  text-decoration: none;
}

.play-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 16px;
  background: #EAE3D2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.play-button:hover {
  background: #F9F5EB;
  text-decoration: none;
}

.flight-dealer-row {
  position: absolute;
  padding: 20px;
  width: 400px;
  left: 5%;
  top: 5%;
}

.automated-email-sender-row {
  position: absolute;
  padding: 20px;
  width: 400px;
  left: 5%;
  bottom: 5%;
}

.flashcard-app-row {
  position: absolute;
  padding: 20px;
  width: 400px;
  right: 5%;
  top: 5%;
}

.snake-ade-row {
  position: absolute;
  padding: 20px;
  width: 400px;
  right: 5%;
  bottom: 5%;
}

.dark-bg-h2 {
  color: #EAE3D2;
}

.contact-me {
  background-color: #F9F5EB;
  padding: 0 0 40px 0;
  line-height: 2;
}

.contact-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  background: #1C3879;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-button:hover {
  background: #607EAA;
  text-decoration: none;
}

.bottom-container {
  font-family: 'Montserrat', sans-serif;
  background-color: #EAE3D2;
  padding: 30px 0 20px;
}

.copyright {
  font-size: 10px;
  padding: 20px 0;
}

@media screen and (max-width: 800px) {
  .flight-dealer-row, .automated-email-sender-row, .flashcard-app-row, .snake-ade-row {
    width: 49.999%;
    display: block;
  }

  .projects h3 {
    font-size: 5vw;
  }

  .project-text {
    font-size: 70%;
    width: 40%;
  }

  .photo-button {
    font-size: 10px;
  }

  .play-button {
    font-size: 10px;
  }

  .code-button {
    font-size: 8px;
  }

  .contact-button {
    font-size: 10px;
  }
}
